:root {
    margin: 0;
    padding: 0;

    p {
        margin: 0;
    }

    .section-padding {
        padding: 70px 0;
    }

    .text-center {
        text-align: center;
    }

    .main {
        font-family: 'Open Sans', sans-serif;
    }

    .bold {
        font-weight: bold;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Titillium Web', sans-serif;
    }
}